<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SomerenDatabase" connectionString="Data Source=projectdatabases.database.windows.net;
         Initial Catalog=projectdatabases; User=projdata; Password=8JNXMgebK6oXKek2vq4v"/>
    </connectionStrings>
</configuration>